<div class="search-container">
  <div class="search-input-container">
    <input type="text" 
           [(ngModel)]="city" 
           placeholder="Search city..."
           (input)="onInputChange()">
  </div>

  <div *ngIf="showSuggestions && suggestions.length" class="suggestions">
    <div *ngFor="let suggestion of suggestions" 
         class="suggestion-item"
         (click)="selectAndAdd(suggestion)">
      {{ suggestion.name }}, {{ suggestion.country }}
      <button class="add-btn">Add</button>
    </div>
  </div>
</div>